* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    color: rgb(25, 25, 25);
    background-image: url(images/widerbackstripes.gif);
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

header  {
    height: 230px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    display: inline-block;
    border-radius: 50%;
    width: 164px;
    height: 164px;
}

header p {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: 'Lobster', cursive;
    transform: rotate(343deg);
    margin-top: 54px;
}

header div:first-child {
   background-color: rgba(183, 183, 28, .65);
   position: relative;
   left: 35px;
   bottom: 10px;
}

header div:nth-child(2) {
    background-color: rgba(5, 153, 153, .65);
    position: relative;
    left: 10px;
    top: 10px;
}

header div:nth-child(3) {
    background-color: rgba(43, 86, 163, .65);
    position: relative;
    right: 10px;
    bottom: 5px;
}

header div:nth-child(4) {
    background-color: rgba(157, 64, 160, .65);
    position: relative;
    right: 33px;
    top: 5px;
}

main {
    margin: 0 auto;
    width: 1000px;
}

main>section {
    display: inline-block;
    width: 550px;
    margin-top: 30px;
    margin-right: 26px;
    background-color: rgb(158, 158, 158);
    padding: 30px 30px 0 30px;
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

a {
    color: rgb(43, 86, 163);
    text-decoration: none;
}

a:visited {
    color: rgb(157, 64, 160);
}

main article {
    margin-bottom: 30px;
    padding: 35px;
}

#about-me {
    background-color: white;
}

h1 {
    font-size: 24px;
}

#about-me p {
    line-height: 1.5em;;
    font-size: 16px;
}

h3 {
    font-size: 18px;
}

li {
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

ol li {
    margin-left: 17px;
    margin-bottom: 16px;
    position: relative;
}

li figure {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 130px;
}

#dark-gray-chip {
    background-color: rgb(51, 51, 51);
}

#med-gray-chip {
    background-color: rgb(112, 112, 112);
}
#light-gray-chip {
    background-color: rgb(216, 216, 216);
}
#green-chip {
    background-color: rgb(183, 183, 28);
}
#blue-green-chip {
    background-color: rgb(7, 153, 146);
}
#green-blue-chip {
    background-color: rgb(7, 143, 153);
}
#cobalt-chip {
    background-color: rgb(43, 86, 163);
}
#magenta-chip {
    background-color: rgb(157, 64, 160);
}
#black-chip {
    background-color: black;
}
#white-chip {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
}

span.author {
    margin-left: 45px;
    font-size: 14px;
}

#audiobooks, #top-colors {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    height: 389px;
}

#audiobooks {
    margin-right: 26px;
    width: 210px;   
}

#top-colors {
    width: 170px;
}

ul {
    list-style: square inside;
}

aside {
    display: inline-block;
    width: 300px;
    background-color: rgb(158, 158, 158);
    padding: 30px 30px 0 30px;
    margin: 30px 0;
}

aside h2 {
    color: white;
    font-size: 21px;
    text-align: center;
    margin-bottom: 30px;
}

aside img {
    margin-bottom: 30px;
}